.wrapper {
  position: relative;
  padding: 70px 0;

  /* @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 80px;
    padding-bottom: 60px;
  } */
}
.headerText {
  font-weight: 700;
  font-size: 2.75rem;
  letter-spacing: normal;
  line-height: 1.2727272727272727;
  padding: 2.5rem 0;
}
